@{
    ViewData["Title"] = "Home Page";
}
<h1 class="display-4">Welcome to the Avondale College Web-App</h1>
<!--A Photo will be displayed when the user signs in into the website-->
<html>
<body>

    <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Avondale_College_D_Block.jpg" alt="Trulli" width="1000" height="500">

</body>
</html>

<div class="text-center">
    <p>This is a Web-Based Applcation that registers the staff information that can be accessed by the students and staffs of Avondale College.</p>
    <p></p>
</div>

<!--Search Bar that will be place on the top right of the website-->
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }
    </style>
</head>
<body>
    <!--Text that is displayed at the bottom of the page-->
    <h2>This Is the Departments dropdown</h2>
    <p>Move the mouse over the button to open the dropdown menu.</p>
    <p>These links will take you to the departments urls.</p>
    <p>These url links will give you a rough explaination of what the specific department provides</p>

    <div class="dropdown">
        <button class="dropbtn">Dropdown</button>
        <div class="dropdown-content">
            <a href="Identity/Account/Maths">Mathematics</a>
            <a href="Identity/Account/English">English</a>
            <a href="Identity/Account/Science">Science</a>
        </div>
    </div>
    </body>
</html>
<!--When the dropdown menu is hovered on by the user, the user will see a dropdown menu that 3 different pages that all leads to a different page-->