@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Avondale College Web-App</h1>
    <p>This is a Web-Based Applcation that registers the staff that can be accessed by the students and staffs of Avondale College.</p>
</div>
