@page
@model LogoutModel
@{
    ViewData["Title"] = "English";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the English Department.</p>
    <p>English is the comprehensive and study of the english itself.</p>
    <p>English is a language is the most used language in the world. <a href="https://www.visualcapitalist.com/100-most-spoken-languages/">Source</a><p>
    <p>So learning English will give you more opprtunities to allow you to commuicate with more people.</p>
    <p>Events like creative writing will be held to help people with their English and vocabulary</p>
</header>
<!--When the user clicks on the hyper link, it will take them to the website of the source-->