@page
@model LogoutModel
@{
    ViewData["Title"] = "Science";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Welcome to the Science Department.</p>
    <p>Science is the application of knowledge and basic understanding of the natural and the soical world.</p>
    <p>The sub topics of science is more known as Physics, Chemistry, Biology, and etc</p>
    <p>The Science department will be hosting events to show how fun science generally is.</p>
</header>